@model IEnumerable<BlogApp.Models.Blog>

@{
    ViewBag.Title = "Blogs";
}

<h2>Blog Gallery</h2>

<p>
    @Html.ActionLink("Create New Blog", "Create")
</p>

@foreach (var item in Model)
{
    <hr />
    <h3><a href="@Url.Action("Blog", new { Id = item.Id })">@Html.DisplayFor(modelItem => item.Title)</a></h3>
    <small>@Html.DisplayFor(modelItem => item.PostedOn)</small>
    <p>@Html.DisplayFor(modelItem => item.Summary)</p>
}

